*{
  margin: 0;
  padding: 0;
}
body{
  background: #031321;
  overflow: hidden;
}

.wrapper{
  height:100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.wrapper h1{
  font-size: 6rem;
  color: #21ecf3;

  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
}

video{
  display: none;
}

#sketch-container{
  width: 80%;
  height: 60%;
}